html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.body--backgroundImage {
    background-image: url("https://www.careersinpoland.com/media/file/articles/thumbs/950x540_money-in-poland-a-quick-guide-to-polish-currency.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}