html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    padding: 20px;
}

@media (min-width:2000px){
    .body {
        max-width: 3000px;
        margin: 0;
        padding: 40px;
    }
}

.body--backgroundImage {
    background-image: url("https://cdn.britannica.com/83/189283-050-DF7E0E75/Banknotes-world.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}